.thebody {
  min-width: auto;
}

.pwaIosPopUp {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;
  width: 100vw;
  max-height: 300px;
  background-color: var(--dark-gray);
  left: 0;
  padding: 0px 25px 10px 10px;
  border-top: 2px solid #dcdcdc;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.pwaIosPopUp #addPwaIcon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.pwaIosPopUp p {
  vertical-align: middle;
  line-height: 20px;
  margin-left: 60px;
  font-size: 14px;
}

.pwaIosPopUp #closeButtonPWA {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 10px;
  font-size: 34px;
  font-weight: 700;
  transform: rotate(45deg);
  color: #696969;
}

.pwaIosPopUp #pwaIosPopUp__title {
  font-family: 'MontserratBold';
}

.pwaIosPopUp .pwaIosPopUp__title-container {
  display: flex;
  font-size: 24px;
  align-items: center;
}

@media (max-width: 400px) {
  .button {
    padding: 6px 22px;
    font-size: 10px;
  }
  #section1,#section2,#section3,#section4,
  #section5 {
      padding-left: 5%;
      padding-right: 5%;
  }
  .navbar-container {
    gap: 30px;
  }
  .navbar-links {
    justify-content: space-around;
    flex: 1;
  }

  .link-wrapper {
    min-width: 30px;
  }
  .navbar-links svg {
    width: 16px;
    height: 16px;
  }
}

#add-encrypted-field textarea {
  padding: 1rem;
}

.decrypted__secret textarea {
  padding: 1rem;
}


.footer-container {
 border-top:1px solid whitesmoke;
}